.container__home-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.container__events {
    width: 50%;
    height: auto;
    border: 1px solid blue;
}

.container__store {
    width: 50%;
    height: auto;
    border: 1px solid red;

    display: flex;
    align-items: center;
    flex-direction: column;
}