.vitrine__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    margin-top: 20px;


    border: 1px solid white;
    
  }
  
  .card {
    
    display: flex;
    flex-direction: row;
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  
  .images__container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .imagem-principal {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card:hover .imagem-secundaria {
    opacity: 1; /* Aumenta a visibilidade da imagem secundária no hover */
  }
  
  .btn-loja {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-loja:hover {
    background-color: #0056b3;
  }
  